{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        {% if post.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
            
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
      <div class="d-flex flex-row">
        <form method="POST" action="{% url 'post-like' post.pk %}">
           {% csrf_token %}
           <input type="hidden" name="next" value= {{ request.path }}>
           <button style="background-color: tranparent; border = none;box-shadow=none;" type="submit">
              <i class="far fa-thumbs-up"> <span> {{ post.Likes.all.count }} </span> </i>
          </button>
        </form>
      </div>
      <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="d-grid gap-2">
            <button class="btn btn-success mt-3">Submit!</button>
        </div>
    </form>
    {% for comment in comments %}
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <p>
                <strong>{{ comment.author }}</strong> {{ comment.created_on }}
                {% if request.user == comment.author %}
                    <a href="{% url 'comment-delete' post.pk comment.pk %}" style="color: #333;"><i class="fas fa-trash"></i></a>
                {% endif %}
            </p>
            <p>{{ comment.comment }}</p>
        </div>
    </div>
    {% endfor %}
    </div>
    
</div>
  </article>
{% endblock content %}
