{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ books.BookName }}</a>
            </div>
            <h2><a class="article-title" href='#'>{{ books.BookAuthor}}</a></h2>
            <p class="article-content">{{books.BookAuthor }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
